@model LibrarySystem.DAL.Models.Book

@{
    ViewData["Title"] = "Delete";
}


<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
		<h3>⚠️ Are you sure you want to return @Model.Title ?</h3>
		@if (ViewData["Error"] is not null)
		{
			<h3 class="text-danger">@ViewData["Error"] 😵‍</h3>
		}
	</div>
</div>

<section id="about" class="about">
	<div class="container" data-aos="fade-up">

		<div class="row">
			<div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
				<img src="~/covers/@Model.ImageURL" class="img-fluid" alt="..." />
			</div>
		</div>
		<hr />
		<form asp-action="Delete">
			<input type="submit" value="Yes" class="btn btn-warning" /> |
			<a class="btn btn-outline-secondary" asp-controller="Borrowing" asp-action="MyBooks">No, return to my books</a>
		</form>
	</div>
</section>


