@{
	ViewData["Title"] = "Success";
}


<div class="breadcrumbs" data-aos="fade-in">
	<div class="container">
		<h3>Now you have the book 😏</h3>
	</div>
</div>

<section id="about" class="about">
	<div class="container" data-aos="fade-up">

		<hr />
		<a class="btn btn-outline-success" asp-controller="Borrowing" asp-action="MyBooks">Go to my books</a> |
		<a class="btn btn-outline-success" asp-controller="Book" asp-action="Index">Return to books list</a>
	</div>
</section>
